<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/alanr.jpg"
        class="img-fluid" id="fotoPerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p id="titulo">Full Stack Developer Junior</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <div>
                <button type="button" class="btn btn-secondary" routerLink="/nuevocampo" *ngIf="isLogged">
                    modificar
                </button>
            </div>

            <table class="table">
                <tbody>
                    <tr *ngFor="let Acercade of acercade ">
                        <td>
                            <h2>{{Acercade.acercadeA}}</h2>
                        </td>
                        <td *ngIf="isLogged">
                            <button class="btn btn-light" routerLink="/editcampo/{{Acercade.id}}">
                                <i class="bi bi-pencil-fill"></i>EDITAR</button>
                        </td>
                        <td *ngIf="isLogged">
                            <button class="btn btn-danger" (click)="delete(Acercade.id)">
                                <i class="bi bi-trash"></i>BORRAR</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </span>
    </div>
</div>
