.row {
    padding: 20px;
    text-align: center; 
}

div {
    background-color: #bcffb9;
}

@media (min-width: 576px) {
    #fotoPerfil{
        width: 15%;
        position: absolute;
        border-radius: 29%;
        box-shadow: 3px 3px 3px grey;
        left: 2%;
        top: 170px;
    }
}

@media (max-width: 575px) {
    #fotoPerfil{
        width: 50%;
        border-radius: 29%;
        box-shadow: 3px 3px 3px grey;
        left: 20%;
        top: 500px;
    }
}

#nombre {
    font-weight: bold;
    margin-top: 10%;
    margin-left: 5px;
}