<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(years)</h3> - <h2>Jornada</h2>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur,
                adipisicing elit. Consequatur ducimus 
                consequuntur dicta placeat quasi sit 
                minus consectetur fugit quia, neque 
                recusandae similique tenetur et quam 
                repudiandae, sint ullam. Voluptatibus, officia.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> - <h3>(years)</h3> - <h2>Jornada</h2>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur,
                adipisicing elit. Consequatur ducimus 
                consequuntur dicta placeat quasi sit 
                minus consectetur fugit quia, neque 
                recusandae similique tenetur et quam 
                repudiandae, sint ullam. Voluptatibus, officia.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1> - <h3>(years)</h3> - <h2>Jornada</h2>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur,
                adipisicing elit. Consequatur ducimus 
                consequuntur dicta placeat quasi sit 
                minus consectetur fugit quia, neque 
                recusandae similique tenetur et quam 
                repudiandae, sint ullam. Voluptatibus, officia.
            </p>
        </ul>
    </div>
</div>
