<div class="row">
  <h1>Hard & soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="85"
      [radius]="100"
      [imageSrc]="'../assets/html.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="100"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#ff4949'"
      [innerStrokeColor]="'#ff8d29'"
      [animation]="true"
      [animationDuration]="900"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="85"
      [radius]="100"
      [imageSrc]="'../assets/CSS.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="100"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#2F8F9D'"
      [innerStrokeColor]="'#3BACB6'"
      [animation]="true"
      [animationDuration]="900"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="85"
      [radius]="100"
      [imageSrc]="'../assets/js.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="100"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#FFEF82'"
      [innerStrokeColor]="'#EFD345'"
      [animation]="true"
      [animationDuration]="900"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="85"
      [radius]="100"
      [imageSrc]="'../assets/angular.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="100"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#630606'"
      [innerStrokeColor]="'#890F0D'"
      [animation]="true"
      [animationDuration]="900"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="85"
      [radius]="100"
      [imageSrc]="'../assets/git.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="100"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#413F42'"
      [innerStrokeColor]="'#7F8487'"
      [animation]="true"
      [animationDuration]="900"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="85"
      [radius]="100"
      [imageSrc]="'../assets/nodejs.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="100"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#83BD75'"
      [innerStrokeColor]="'#4E944F'"
      [animation]="true"
      [animationDuration]="900"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="85"
      [radius]="100"
      [imageSrc]="'../assets/java.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="100"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#ff4949'"
      [innerStrokeColor]="'#001E6C'"
      [animation]="true"
      [animationDuration]="900"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="85"
      [radius]="100"
      [imageSrc]="'../assets/mysql.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="100"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#001E6C'"
      [innerStrokeColor]="'#0AA1DD'"
      [animation]="true"
      [animationDuration]="900"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="85"
      [radius]="100"
      [imageSrc]="'../assets/eng.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="100"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#ff4949'"
      [innerStrokeColor]="'#ff8d29'"
      [animation]="true"
      [animationDuration]="900"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="85"
      [radius]="100"
      [imageSrc]="'../assets/grupal.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="100"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#ff4949'"
      [innerStrokeColor]="'#ff8d29'"
      [animation]="true"
      [animationDuration]="900"
      ></circle-progress>
    </div>
</div>